.zeroToX{
    font-family: Georgia,Times,Serif;
    line-height: 1.1;
    padding-bottom: 0.5rem;
}

.info{
  background-color: rgba(32, 30, 30, 0.75);
    color: white;
    padding: 0.3125rem 0.9375rem;
    bottom: 0;
    height: auto;
    width: auto;
    position: absolute;
}