
.rssFeed{
  display:flex;
}

.zeroToX{
    font-family: Georgia,Times,Serif;
    padding-bottom: 0.5rem;
    color: black;
    padding: 0.3125rem 0.9375rem;
  }

.title{
    color: black;
  line-height: 1.1;
  padding-bottom: 0.5rem;
  font-family: Georgia,Times,Serif;
}


.author{
    color: white;
    padding: 0.3125rem .9375rem;
}
.pubDate{
  background-color: rgba(32, 30, 30, 0.75);
  color: white;
  padding: 0.3125rem 0.9375rem;
}
